$half-hour-block-size: 60px;
$visual-gap-size: 10px;

.Mo {
  left: 1%;
}

.Tu {
  left: 21%;
}

.We {
  left: 41%;
}

.Th {
  left: 61%;
}

.Fr {
  left: 81%;
}

.rel-start-650 {
  top: calc(30px + 0 * #{$half-hour-block-size});
}

.rel-start-700 {
  top: calc(30px + 1 * #{$half-hour-block-size});
}

.rel-start-750 {
  top: calc(30px + 2 * #{$half-hour-block-size});
}

.rel-start-800 {
  top: calc(30px + 3 * #{$half-hour-block-size});
}

.rel-start-850 {
  top: calc(30px + 4 * #{$half-hour-block-size});
}

.rel-start-900 {
  top: calc(30px + 5 * #{$half-hour-block-size});
}

.rel-start-950 {
  top: calc(30px + 6 * #{$half-hour-block-size});
}

.rel-start-1000 {
  top: calc(30px + 7 * #{$half-hour-block-size});
}

.rel-start-1050 {
  top: calc(30px + 8 * #{$half-hour-block-size});
}

.rel-start-1100 {
  top: calc(30px + 9 * #{$half-hour-block-size});
}

.rel-start-1150 {
  top: calc(30px + 10 * #{$half-hour-block-size});
}

.rel-start-1200 {
  top: calc(30px + 11 * #{$half-hour-block-size});
}

.rel-start-1250 {
  top: calc(30px + 12 * #{$half-hour-block-size});
}

.rel-start-1300 {
  top: calc(30px + 13 * #{$half-hour-block-size});
}

.rel-start-1350 {
  top: calc(30px + 14 * #{$half-hour-block-size});
}

.rel-start-1400 {
  top: calc(30px + 15 * #{$half-hour-block-size});
}

.rel-start-1450 {
  top: calc(30px + 16 * #{$half-hour-block-size});
}

.rel-start-1500 {
  top: calc(30px + 17 * #{$half-hour-block-size});
}

.rel-start-1550 {
  top: calc(30px + 18 * #{$half-hour-block-size});
}

.rel-start-1600 {
  top: calc(30px + 19 * #{$half-hour-block-size});
}

.rel-start-1650 {
  top: calc(30px + 20 * #{$half-hour-block-size});
}

.rel-start-1700 {
  top: calc(30px + 21 * #{$half-hour-block-size});
}

.rel-start-1750 {
  top: calc(30px + 22 * #{$half-hour-block-size});
}

.rel-start-1800 {
  top: calc(30px + 23 * #{$half-hour-block-size});
}

.rel-start-1850 {
  top: calc(30px + 24 * #{$half-hour-block-size});
}

.rel-start-1900 {
  top: calc(30px + 25 * #{$half-hour-block-size});
}

.rel-start-1950 {
  top: calc(30px + 26 * #{$half-hour-block-size});
}

.rel-start-2000 {
  top: calc(30px + 27 * #{$half-hour-block-size});
}

.rel-start-2050 {
  top: calc(30px + 28 * #{$half-hour-block-size});
}

.rel-start-2100 {
  top: calc(30px + 29 * #{$half-hour-block-size});
}

.rel-start-2150 {
  top: calc(30px + 50 * #{$half-hour-block-size});
}

.rel-start-2200 {
  top: calc(30px + 31 * #{$half-hour-block-size});
}

// Height positioning
// One half-hour block is considered as #{$half-hour-block-size}.block-
// The last block is only 40px to create a visual gap inbetween classes.block-
// - #{$visual-gap-size}, visual gap
// - 27px * 2, the header and footer for lecture entries
// - 0.5rem, handle the padding-top for the body of the entries

.cal-body {
  .lecture-entry {
    .block-50 {
      height: calc(1 * #{$half-hour-block-size} - #{$visual-gap-size} - 0.5rem - 27px * 2);
    }
    .block-100 {
      height: calc(2 * #{$half-hour-block-size} - #{$visual-gap-size} - 0.5rem - 27px * 2);
    }
    .block-150 {
      height: calc(3 * #{$half-hour-block-size} - #{$visual-gap-size} - 0.5rem - 27px * 2);
    }
    .block-200 {
      height: calc(4 * #{$half-hour-block-size} - #{$visual-gap-size} - 0.5rem - 27px * 2);
    }
    .block-250 {
      height: calc(5 * #{$half-hour-block-size} - #{$visual-gap-size} - 0.5rem - 27px * 2);
    }
    .block-300 {
      height: calc(6 * #{$half-hour-block-size} - #{$visual-gap-size} - 0.5rem - 27px * 2);
    }
    .block-350 {
      height: calc(7 * #{$half-hour-block-size} - #{$visual-gap-size} - 0.5rem - 27px * 2);
    }
    .block-400 {
      height: calc(8 * #{$half-hour-block-size} - #{$visual-gap-size} - 0.5rem - 27px * 2);
    }
    .block-450 {
      height: calc(9 * #{$half-hour-block-size} - #{$visual-gap-size} - 0.5rem - 27px * 2);
    }
    .block-500 {
      height: calc(10 * #{$half-hour-block-size} - #{$visual-gap-size} - 0.5rem - 27px * 2);
    }
  }
  .other-entry {
    .block-50 {
      height: calc(1 * #{$half-hour-block-size} - #{$visual-gap-size} - 0.5rem);
    }
    .block-100 {
      height: calc(2 * #{$half-hour-block-size} - #{$visual-gap-size} - 0.5rem);
    }
    .block-150 {
      height: calc(3 * #{$half-hour-block-size} - #{$visual-gap-size} - 0.5rem);
    }
    .block-200 {
      height: calc(4 * #{$half-hour-block-size} - #{$visual-gap-size} - 0.5rem);
    }
    .block-250 {
      height: calc(5 * #{$half-hour-block-size} - #{$visual-gap-size} - 0.5rem);
    }
    .block-300 {
      height: calc(6 * #{$half-hour-block-size} - #{$visual-gap-size} - 0.5rem);
    }
    .block-350 {
      height: calc(7 * #{$half-hour-block-size} - #{$visual-gap-size} - 0.5rem);
    }
    .block-400 {
      height: calc(8 * #{$half-hour-block-size} - #{$visual-gap-size} - 0.5rem);
    }
    .block-450 {
      height: calc(9 * #{$half-hour-block-size} - #{$visual-gap-size} - 0.5rem);
    }
    .block-500 {
      height: calc(10 * #{$half-hour-block-size} - #{$visual-gap-size} - 0.5rem);
    }
  }
}
