/* You can change the height parameter here to modify the calendar height to fit your schedule. */
/* ========================================= */

.cal-body {
  position: relative;
  height: 500px;
  text-transform: uppercase; }

/* ========================================= */

html {
  font-family: "Lato", sans-serif;
  font-weight: 400; }

.container {
  margin: 100px 150px 100px 150px; }

.semibold {
  font-family: "Lato", sans-serif;
  font-weight: 600; }

.cal-enroll {
  border-spacing: 0rem; }

.cal-header-row {
  position: relative;
  height: 20px;
  text-align: center; }

.cal-header-row-entry {
  position: _TODO_;
  width: _TODO_;
  top: 0px;
  height: 25px;
  background-color: #EEEEEE;
  padding-top: 0.5rem;
  padding-bottom: 0.25rem; }

.cal-header-row .cal-header-row-entry:nth-child(1) {
  left: _TODO_; }
.cal-header-row .cal-header-row-entry:nth-child(2) {
  left: _TODO_; }
.cal-header-row .cal-header-row-entry:nth-child(3) {
  left: _TODO_; }
.cal-header-row .cal-header-row-entry:nth-child(4) {
  left: _TODO_; }
.cal-header-row .cal-header-row-entry:nth-child(5) {
  left: _TODO_; }

.cal-dotw-column {
  display: _TODO_;
  height: 100%;
  width: calc(20% - _TODO_);
  border-bottom: 1px solid #EEEEEE;
  border-right: 1px solid #EEEEEE; }

.monday-column {
  border-left: 1px solid #EEEEEE; }

.lecture-entry {
  width: calc(18%);
  position: absolute; }

.lecture-entry-header {
  background-color: #4279FF;
  color: white;
  padding: 0.25rem 0rem 0.25rem 0.5rem;
  border-top-right-radius: 0.25rem;
  border-top-left-radius: 0.25rem; }

.lecture-entry-body {
  background-color: white;
  padding-right: 0.5rem;
  padding-left: 0.5rem;
  padding-top: 0.5rem;
  border-left: 1px solid #EEEEEE;
  border-right: 1px solid #EEEEEE; }

.lecture-entry-footer {
  height: 27px;
  background-color: #EEEEEE;
  border-bottom-right-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem; }

.Mo {
  left: 1%; }

.Tu {
  left: 21%; }

.We {
  left: 41%; }

.Th {
  left: 61%; }

.Fr {
  left: 81%; }

.start-650 {
  top: calc(30px + 0 * 60px); }

.start-700 {
  top: calc(30px + 1 * 60px); }

.start-750 {
  top: calc(30px + 2 * 60px); }

.start-800 {
  top: calc(30px + 3 * 60px); }

.start-850 {
  top: calc(30px + 4 * 60px); }

.start-900 {
  top: calc(30px + 5 * 60px); }

.start-950 {
  top: calc(30px + 6 * 60px); }

.start-1000 {
  top: calc(30px + 7 * 60px); }

.start-1050 {
  top: calc(30px + 8 * 60px); }

.start-1100 {
  top: calc(30px + 9 * 60px); }

.start-1150 {
  top: calc(30px + 10 * 60px); }

.start-1200 {
  top: calc(30px + 11 * 60px); }

.start-1250 {
  top: calc(30px + 12 * 60px); }

.start-1300 {
  top: calc(30px + 13 * 60px); }

.start-1350 {
  top: calc(30px + 14 * 60px); }

.start-1400 {
  top: calc(30px + 15 * 60px); }

.start-1450 {
  top: calc(30px + 16 * 60px); }

.start-1500 {
  top: calc(30px + 17 * 60px); }

.start-1550 {
  top: calc(30px + 18 * 60px); }

.start-1600 {
  top: calc(30px + 19 * 60px); }

.start-1650 {
  top: calc(30px + 20 * 60px); }

.start-1700 {
  top: calc(30px + 21 * 60px); }

.start-1750 {
  top: calc(30px + 22 * 60px); }

.start-1800 {
  top: calc(30px + 23 * 60px); }

.start-1850 {
  top: calc(30px + 24 * 60px); }

.start-1900 {
  top: calc(30px + 25 * 60px); }

.start-1950 {
  top: calc(30px + 26 * 60px); }

.start-2000 {
  top: calc(30px + 27 * 60px); }

.start-2050 {
  top: calc(30px + 28 * 60px); }

.start-2100 {
  top: calc(30px + 29 * 60px); }

.start-2150 {
  top: calc(30px + 50 * 60px); }

.start-2200 {
  top: calc(30px + 31 * 60px); }

.block-50 {
  height: calc(1 * 60px - 10px - 0.5rem - 27px * 2); }
.block-100 {
  height: calc(2 * 60px - 10px - 0.5rem - 27px * 2); }
.block-150 {
  height: calc(3 * 60px - 10px - 0.5rem - 27px * 2); }
.block-200 {
  height: calc(4 * 60px - 10px - 0.5rem - 27px * 2); }
.block-250 {
  height: calc(5 * 60px - 10px - 0.5rem - 27px * 2); }
.block-300 {
  height: calc(6 * 60px - 10px - 0.5rem - 27px * 2); }
.block-350 {
  height: calc(7 * 60px - 10px - 0.5rem - 27px * 2); }
.block-400 {
  height: calc(8 * 60px - 10px - 0.5rem - 27px * 2); }
.block-450 {
  height: calc(9 * 60px - 10px - 0.5rem - 27px * 2); }
.block-500 {
  height: calc(10 * 60px - 10px - 0.5rem - 27px * 2); }
